
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="wide-xs mx-auto">
    <h3 class="nk-error-title">Oops! You don't have permission to access this page'</h3>
    <p class="nk-error-text">We are very sorry for inconvenience. </p>
    
</div>

