
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



    <div class="card card-bordered">
        <div class="card-inner card-inner-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content text-center">
                    <h4 class="nk-block-title">Change Password</h4>
                    <h6><a href="/"><em class="icon ni ni-chevron-left"></em>Back to home page</a></h6>
                    <p>@ViewBag.Message</p>
                </div>
            </div>
            @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @*<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />*@
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="form-label" for="password">Current Password</label>
                        <a class="link link-primary link-sm" href="/Authentication/ForgotPassword">Forgot Password?</a>
                    </div>
                    <div class="form-control-wrap">
                        <a href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        <input type="password" name="Password" class="form-control form-control-lg" id="password" placeholder="Enter current password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="form-label" for="newpassword">New Password</label>
                    </div>
                    <div class="form-control-wrap">
                        <a href="#" class="form-icon form-icon-right passcode-switch" data-target="newpassword">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        <input type="password" name="NewPassword" class="form-control form-control-lg" id="newpassword" placeholder="Enter new password">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Accept Change Password</button>
                </div>
            }

        </div>
    </div>


