<!DOCTYPE html>
<html lang="zxx" class="js">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">

    <!-- Page Title  -->
    <title>Authentication HMTStationery</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/Content/assets/css/dashlite.css?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="~/Content/assets/css/theme.css?ver=2.2.0">
</head>

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <!-- main   -->
        <div class="nk-main ">
            <!-- wrap   -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content   -->
                <div class="nk-content ">
                    @RenderBody()
                </div>
                <!-- wrap   -->
            </div>
            <!-- content   -->
        </div>
        <!-- main   -->
    </div>
    <!-- app-root   -->
    <!-- JavaScript -->
    <script src="~/Content/assets/js/bundle.js?ver=2.2.0"></script>
    <script src="~/Content/assets/js/scripts.js?ver=2.2.0"></script>

</html>