@model IEnumerable<HMTStationery.Models.QA>
@{
    ViewBag.Title = "QA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-content-wrap">
    <div class="nk-block-head wide-md nk-block-head-lg">
    <a href="/"><div class="nk-block-head-sub"><span>Home</span></div></a>    
    
        <div class="nk-block-head-content">
            <h2 class="nk-block-title fw-normal">Hi! We have user manual here</h2>
            <p>Search for user guides here.</p>
            <form action="/Employee/QA" method="GET">
                <div class="nk-search-box">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="search" class="form-control form-control-lg" placeholder="Search...">
                            <button class="form-icon form-icon-right">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        @foreach (var item in Model)
        {
            <div class="support-topic-item card card-bordered">
                <a class="support-topic-block card-inner" href="/Employee/QADetail/@item.ID">

                    <div class="support-topic-context">
                        <h5 class="support-topic-title title"><em class="icon ni ni-question"></em>  @item.Question</h5>
                    </div>
                    <div class="support-topic-action">
                        <em class="icon ni ni-chevron-right"></em>
                    </div>
                </a>
            </div><!-- .support-topic-item -->
        }
    </div><!-- .nk-block -->
</div>

